body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a{
	color: #00B7FF;
}



	/* Large desktop */
	@media (min-width: 1201px) {
	.aheight{
		height: 460px;
	}
}
	/* Desktop*/
	@media (min-width: 980px) and (max-width: 1200px) {
	.aheight{
		height: 540px;
	}
}
	/* Portrait tablet to landscape and desktop */
	@media (min-width: 768px) and (max-width: 979px) {
      body{
        background: red;
        color: black;
       }
	.aheight{
		height: 680px;
	}
}
	/* Landscape phone to portrait tablet */
	@media (max-width: 767px) {
      body{
        background: black;
        color: white;
       }
    }

	/* Landscape phones and down */
	@media (max-width: 480px) { ... }



.padding{
	padding-left: 30px
}

.margin{
	margin-bottom: 30px;
}

.img-regulate{

	max-width:110px;
	height:inherit;
	width:expression(document.body.clientWidth>110?"110px""auto");/*若圖片大於110px就調整*/
	overflow:hidden;
}


.left-border{
	border-left-style:solid;
	border-width:8px;
	border-color:#E5E5E5
}

.size{
	max-width:106px;
	width:159px;
	width:expression(document.body.clientWidth>106?"159px":"auto");
	overflow:hidden;
}

.btn-regulate{
	margin-top: 3px;
	margin-left: 25px;
}

.margin-top15px{
	margin-top: 15px;
}

.margin-top10px{
	margin-top: 10px;
}

.catalog{
	font-size: 18px;

}

.img-margin-bottom{
	margin-bottom: 20px;
}

.img-margin-feedbooks{
	margin-bottom: 35px;
	margin-top: 15px;
}
