body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a{
	color: #00B7FF;
}

    /* Large desktop */
    @media (min-width: 1200px) { ... }

    /* Portrait tablet to landscape and desktop */
    @media (min-width: 768px) and (max-width: 979px) {
      body{
        background: red;
        color: black;
       }
    }

    /* Landscape phone to portrait tablet */
    @media (max-width: 767px) {
      body{
        background: black;
        color: white;
       }
    }

    /* Landscape phones and down */
    @media (max-width: 480px) { ... }

.high{
	height: 250px;
}

.padding{
	padding-left: 30px
}

.margin{
	margin-bottom: 30px;;
}

.left-border{
	border-left-style:solid;
	border-width:8px;
	border-color:#E5E5E5
}

.size{
	max-width:106px;
	width:159px;
	width:expression(document.body.clientWidth>106?"159px":"auto");
	overflow:hidden;
}
